<% if(results.length == 0){%>
	<h3 id="nothing">什么都没有哦！</h3>
<%}else{%>
	<% for(var i=0;i< results.length;i++) {%>
	<div class="state state_comment" id="<%= results[i].id%>">
		<a class="state_userhead state_username" rel="noopener noreferrer" target="_blank" href="/users/<%= results[i].from_person_id%>">
			<img src="<%= results[i].from_icon%>">
		</a>
		<div class="state_content">
			<h4><a class="state_username" href="/users/<%= results[i].from_person_id%>" rel="noopener noreferrer" target="_blank"><%= results[i].from_nick_name%></a>&nbsp; <%if(results[i].type == 'great'){%>赞<%}else{%>收藏<%}%>了<%if(users == '1'){%>他<%}else{%>您<%}%>的文章&nbsp;《<a class="state_username" href="/top/<%=results[i].subject_id%>" rel="noopener noreferrer" target="_blank"><%= results[i].subject_title%></a>》</h4>
			<p class="state_updatetime"><%= results[i].create_date%></p>
		</div>
	</div>
	<%}%>
<%}%>